.app {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    font-size: 25px;
    color: #808080;
}

h1 {
    color: #000;
}

button {
    width: 120px;
    height: 40px;
    border: 1px solid #f78413;
    border-radius: 10px;
    background-color: #f78413;
    box-shadow: -4px -4px 11px #474d54;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}